---
import '../styles/global.css';
import Heading from '../components/Heading.astro';
import Footer from '../components/Footer.astro'
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/cisl-visualization-gallery/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>NSF NCAR | Visualization Gallery</title>
	</head>
	<body>
		<Heading />
        <h1>About</h1>
		<Footer />
	</body>
</html>
