---
import '../styles/global.css';
const pageTitle = "About";
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/cisl-visualization-gallery/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>NSF NCAR | Visualization Gallery</title>
	</head>
	<body>
        <h1>{pageTitle}</h1>
       
	</body>
</html>
