---
import "../styles/global.css";
import Heading from "../components/Heading.astro";
import Footer from "../components/Footer.astro";

import { Image } from 'astro:assets';
import aboutServicesDescription from '../assets/about-services-description.png';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link
			rel="icon"
			type="image/svg+xml"
			href="/favicon.ico"
		/>
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>About | NSF NCAR Visualization Gallery</title>
	
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
			new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
			j=d.createElement(s) as HTMLScriptElement,dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
			'https://www.googletagmanager.com/gtm.js?id='+i+dl; (f.parentNode as HTMLElement).insertBefore(j, f);;
			})(window,document,'script','dataLayer','GTM-538GQ7ZJ');
		</script>
			
	</head>
	<body data-pagefind-body>
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-538GQ7ZJ"
			height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>			
		<Heading />
		<div id="about-main">
			<div id="about-heading">
				<h1>About</h1>
			</div>

			<h2>Who are we</h2>
			<p>
				The Visualization Services and Research (ViSR) group specializes
				in designing data-driven visualizations, including infographics,
				animations, and web interactives, to communicate your research
				to a broader audience. We bring expertise in utilizing advanced
				3D modeling and visualization tools such as
				<a
					href="https://ncar.github.io/VaporDocumentationWebsite/index.html"
					>VAPOR</a
				>, Blender, and Paraview. Moreover, we are also open to
				collaborating on designing customizable web interactives. Our
				previous work is regularly employed in scientific presentations,
				publications, and various communication channels, spanning
				scientific journals, websites, science programs, and broadcast
				news, reaching millions of viewers.
			</p>
			<p>
				Researchers seeking support in visualizing their scientific
				computing outcomes can request assistance from us. We offer
				guidance on specialized applications for data analysis and
				visualization resources under our management. Please contact us
				if you need help visualizing data to demonstrate the results of
				your scientific computing. This service is available to
				researchers who want help using specialized applications on data
				analysis and visualization resources that CISL manages. You can
				request support by filling the visualization support form.
			</p>

			<h2>Services Offered</h2>
			<Image src={aboutServicesDescription} alt="large and small projects" />

			<p>
				We are here to assist you! If you are unsure about the type of
				project, please get in touch and let's discuss the best approach
				for your specific needs.
			</p>
			<p>
				We may consider undertaking large projects without funding for
				projects of critical strategic importance to ViSR and projects
				that have a high impact on our organization, stakeholders or
				funding agencies.
			</p>
			<p>
				FTE estimates and letters of support can be provided upon
				request for your project proposals.
			</p>

			<h2>Expectations</h2>
			<ul>
				<li>
					<h3>Communication</h3>
					<p id="list-paragraph">
						We love staying connected! Please be available for
						meetings and regular check-ins. Your active involvement
						ensures that the project moves along smoothly and we
						deliver on time. Should you become unavailable due to
						travel or other commitments, we may need to reassess and
						reprioritize the project, seeking mutual agreement.
					</p>
				</li>
				<li>
					<h3>Project Prioritization</h3>
					<p id="list-paragraph">
						We are grateful for the high demand we’ve been
						experiencing and often have a healthy backlog of
						projects to work through. Unfortunately, this limits our
						ability to accommodate projects with short deadlines. We
						request that you contact us well in advance of your
						project’s anticipated timeframe. Nonetheless, we'll make
						every effort to kickstart your project at the earliest.
						If reprioritization becomes necessary after the
						project’s commencement, we'll promptly communicate the
						changes and proceed with mutual agreement.
					</p>
				</li>
				<li>
					<h3>Supportive Environment</h3>
					<p id="list-paragraph">
						We're dedicated to fostering an environment where everyone feels respected, valued, and empowered. This commitment means practicing active listening, allowing space for others to speak, respecting different perspectives, and engaging in open, honest conversations. If you have any concerns about how we're upholding these principles, please reach out to the ViSR team lead or the VAST section head.
					</p>
				</li>

				<li>
					<h3>Data Processing</h3>
					<p id="list-paragraph">
						Whenever possible, your support with data pre-processing
						is truly invaluable, especially given your familiarity
						with your data. Your contributions on this front can
						significantly expedite the process towards visualizing.
						If extensive data-preprocessing becomes necessary, an
						account key might be requested.
					</p>
				</li>

				<li>
					<h3>Research</h3>
					<p id="list-paragraph">
						We are a small team of researchers, software engineers
						and student assistants. Beyond just meeting
						deliverables, we might use this opportunity to level up
						our skills and delve into applied research in data
						visualizations. Especially when it comes to projects
						with interactives and other novel visualization
						techniques. Your patience and support mean a lot to us.
					</p>
				</li>

				<li>
					<h3>Deliverables and Handoff</h3>
					<p id="list-paragraph">
						Deliverables such as infographics and animations
						generally have no additional storage requirements at the
						end of the project. However, for projects involving
						interactive visualizations, deployment on a cloud
						service provider may be required, depending on the
						project's complexity and needs. In such instances,
						website hosting and any usage costs incurred would be
						your responsibility. Nonetheless, we’ll make every
						effort to optimize the application to minimize
						additional charges post-deployment.
					</p>
				</li>

				<li>
					<h3>Redistribution</h3>
					<p id="list-paragraph">
						We follow open standards and strive to make our work
						accessible to a broader audience. For high profile
						visualization showcases and media enquiries, we’ll
						consult with you before redistributing the work.
						However, in situations where you are unreachable or if
						you are no longer affiliated with NSF-NCAR/UCAR, ViSR
						reserves the right to redistribute the work.
					</p>
				</li>
			</ul>
		</div>
		<Footer />
	</body>
</html>

<style>
	#about-main {
		background-color: white;
		min-height: 30em;
	}

	#about-heading {
		background: #2c2c2c;
		padding: 2em 3em;
		margin-bottom: 2em;
	}

	p {
		padding: 0.5em 3em;
		font-weight: 300;
		font-size: 1em;
		color: #53565a;
	}

	#list-paragraph {
		padding: 0.1em 2em 1.1em 1.1em;
		font-weight: 300;
		font-size: 1em;
		color: #53565a;
	}

	h1 {
		color: white;
		font-weight: 400;
		font-size: 1.65em;
	}

	h2 {
		color: #1a658f;
		padding: 0.5em 1em;
		font-weight: 400;
		font-size: 1.65em;
	}

	h3 {
		color: #2c2c2c;
		padding: 0.1em 1em;
	}

	ul {
		color: #2c2c2c;
		padding-left: 3em;
	}

	img {
		max-width: 90%;
		height: auto;
		padding: 0.1em 0.1em 3em 3em;
	}

	a {
		color: #1b648f;
		text-decoration: underline;
	}

	a:hover {
		color: #768b00;
	}

	#about-main::after {
		display: block;
		content: " ";
		padding: 2em;
	}

	@media (max-width: 1060px) {
		h1 {
			font-size: 1.35em;
		}
	}

	@media (max-width: 650px) {
		p {
			font-size: 0.95em;
		}
	}
</style>
