---
import '../styles/global.css';

import Heading from '../components/Heading.astro';
import Slideshow from '../components/Slideshow.astro';
import GalleryFilters from '../components/GalleryFilters.astro';
import Gallery from '../components/Gallery.astro';
import Footer from '../components/Footer.astro';

import { getCollection, getEntry } from 'astro:content';
const allPosts = await getCollection('visualizations');
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>NSF NCAR | Visualization Gallery</title>

		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
			new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
			j=d.createElement(s) as HTMLScriptElement,dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
			'https://www.googletagmanager.com/gtm.js?id='+i+dl; (f.parentNode as HTMLElement).insertBefore(j, f);;
			})(window,document,'script','dataLayer','GTM-538GQ7ZJ');
		</script>
	</head>
	<body>
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-538GQ7ZJ"
			height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>			
		<Heading />
		<Slideshow />
		<WhatWeDo />
		<GalleryFilters />
		<Gallery 
			posts = {allPosts}
		/>
		<Footer />
	</body>
</html>
