---
import "../styles/global.css";
import Heading from "../components/Heading.astro";
import Footer from "../components/Footer.astro";
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>NSF NCAR | Visualization Gallery</title>
		<!-- <script type="text/partytown" async src="https://www.googletagmanager.com/gtag/js?id=G-YS9C75JRQ2"></script> 
		<script type="text/partytown"> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'G-YS9C75JRQ2'); </script> -->
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
			new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
			j=d.createElement(s) as HTMLScriptElement,dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
			'https://www.googletagmanager.com/gtm.js?id='+i+dl; (f.parentNode as HTMLElement).insertBefore(j, f);;
			})(window,document,'script','dataLayer','GTM-538GQ7ZJ');
		</script>
	</head>
	<body>
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-538GQ7ZJ"
			height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>			
        <Heading />
		<div id="vapor-main">
			<div id="vapor-heading">
				<h1>VAPOR</h1>
			</div>
        </div>
        <Footer />
    </body>
</html>

<style>
    #vapor-main {
		background-color: white;
		min-height: 30em;
	}

	#vapor-heading {
		background: #2c2c2c;
		padding: 2em 3em;
		margin-bottom: 2em;
	}

    h1 {
		color: white;
		font-weight: 400;
		font-size: 1.65em;
	}
</style>