---
const { coverImage, title, slug, tags } = Astro.props;
let tagClasses = "";

tags.forEach((tag) => {
  let formattedTag = tag.replaceAll(" ", "-").toLowerCase()
  tagClasses += formattedTag + " ";
})
---
<a class="card-link" href={"/cisl-visualization-gallery/visualizations/" + slug} data-tags={tagClasses}>
  <div class="card hoverable">
    <img src={coverImage} alt={title} />
    <h4 class="card-title">{title}</h4>
  </div>
</a>

<style>
  .unfocused-card {
    filter: brightness(90%);
  }

  .focused-card {
    filter: brightness(100%);
  }
</style>

<script>
  const cards = document.querySelectorAll('.card');

  cards.forEach(card => {
      card.addEventListener('mouseover', () => {
          cards.forEach(c => {
              if (c !== card) {
                  c.classList.add('unfocused-card');
              }
          });
          card.classList.add('focused-card');
      });

      card.addEventListener('mouseout', () => {
          cards.forEach(c => {
              c.classList.remove('unfocused-card');
          });
          card.classList.remove('focused-card');
      });
  });
</script>