---
const { coverImage, title, slug } = Astro.props;
---

<a class="card-link" href={"/cisl-visualization-gallery/visualizations/" + slug}>
    <div class="card hoverable">
      <img src={coverImage} alt={title} />
      <h4 class="card-title">{title}</h4>
    </div>
  </a>