---
const {heroImage, label, title, subtitle, slug} = Astro.props;
---
<div class="slide-contents">
    <h3 class="slide-label">{label}</h3>
    <h2 class="slide-title">{title}</h2>
    <h3 class="slide-subtitle">{subtitle}</h3>
    <a class="action-link" href={"/cisl-visualization-gallery/visualizations/" + slug }>See More →</a>
</div>
<div class="slide-background">
    <div class="dark-overlay"></div>
    <img class="slide-image" src={heroImage} alt="" />
</div>