---
import FeaturedSlide from './FeaturedSlide.astro';
---
<div id="featured-area">
    <FeaturedSlide 
        heroImage={"https://visgallery.ucar.edu/wp-content/uploads/2018/11/cover.9a_web.png"} 
        label={"FEATURED VISUALIZATIONS"} 
        title={"Deep Water Impact Ensemble"} 
        subtitle={"Comparing large simulations of asteroids crashing into the ocean."} 
        slug={"modelling-the-indonesian-throughflow"}
    />
</div>