---
let topicFilters = ["climate", "weather", "oceans", "sun-earth interactions", "fire dynamics", "solid earth", "recent publications", "experimental technologies"];
let modelFilters = ["CAM", "CESM", "CM1", "CMAQ", "CT-ROMS", "DIABLO Large Eddy Simulation", "HRRR", "HWRF", "MPAS", "SIMA", "WACCM", "WRF"];
let softwareFilters = ["Blender", "Maya", "NCAR Command Language", "ParaView", "Visual Comparator", "VAPOR"];

let filters = {'topic' : topicFilters, 'model': modelFilters, 'software': softwareFilters}
---

<div id="gallery-filters">
    <div id="gallery-filters-prompt">
      <h3 id="gallery-filters-heading">Explore Visualizations by </h3>
      <div>
      </div>
    </div>
    <div id="gallery-filter-chips">
        
    </div>
   
</div>