---
---

<div id="heading">
    <div id="title">
      <a id="logo-container" href="https://ncar.ucar.edu/">
        <img id="logo" class="hoverable" src="/cisl-visualization-gallery/logo.png" alt="NSF NCAR logo" />
      </a>
      <a href="/cisl-visualization-gallery"><h1 class="hoverable">Visualization Gallery</h1></a>
    </div>
    <nav id="main-nav">
      <ul>
        <li class="hoverable">About</li>
        <li>
          <img id="search-icon" class="hoverable" src="/cisl-visualization-gallery/search.svg" alt="search website" />
        </li>
      </ul>
    </nav>
  </div>