---
import { Image } from 'astro:assets';
import logo from '/src/assets/logo.png';
import { ViewTransitions } from 'astro:transitions';
import SearchField from './SearchField.astro';
---
<ViewTransitions />
<div id="heading-container">
  <div id="title">
    <a id="logo-container" href="https://ncar.ucar.edu/">
      <Image id="logo" class="hoverable" src={logo} alt="NSF NCAR logo" />
    </a>
    <h1 id="title-text" class="hoverable">
      <a href="/">
        <span id="full-title">Visualization Services and Research</span>
        <span id="abbrev-title">ViSR</span>
      </a>
    </h1>
  </div>
  <div id="navigation">
    <li id="about">
      <a href="/about">
        About
      </a>
    </li>
    <div id="search-container">
      <SearchField />
    </div>
  </div>

</div>

<style>
  #heading-container {
    padding: 0.15em 2em 0.15em 3em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-top: solid 1px #C3D7EE;
    border-bottom: solid 2px rgba(0, 0, 0, 0.25);
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.35));
    position: sticky;
    top: 0;
    z-index: 7; 
  }

  #title, #navigation {
    display: flex;
    align-items: center;
    gap: 1em;
  }

  #title {
    gap: 1em;
  }

  #navigation {
    gap: 2em;
    align-self: stretch;
  }

  #abbrev-title {
    display: none;
  }

  #logo-container {
    max-width: 27%;
  }

  #logo {
    max-width: 100%;
    height: auto;
    display: block;
  }

  h1 {
    font-weight: 400;
    color: #1B648F;
    font-size: 1.65em;
    display: inline;
  }

  #about a:hover {
    color: #768B00;
  }

  #about {
    list-style-type: none;
    font-size: 1.25em;
    font-weight: 300;
    color: #1B648F;
    text-align: right;
  }

  @media (max-width: 1260px) {
    #title h1 {
      font-size: 1.45em;
    }

    #about {
      font-size: 1em;
    }
  }

  @media (max-width: 1175px) {
    #heading-container {
      flex-wrap: wrap;
    }

    #logo-container {
      max-width: 30%;
    }

    #title {
      flex-wrap: wrap;
      gap: 0;
    }

    #title-text {
      padding-left: 0.75em;
    }

    #navigation {
      height: 2.75em;
      padding-left: 1em;
      gap: 3em;
    }

    #title::after {
      transform: translateX(-3em);
      display: block;
      flex: 0 0 100%;
      content: " ";
      height: 1px;
      border-bottom: solid thin #1b658f39;
      width: calc(100vw);
    }

    #title h1 {
      font-size: 1.75em;
    }

    #title-text {
      padding-top: 0.25em;
    }

  }

  @media (max-width: 910px) {
    #title h1 {
      font-size: 1.5em;
    }
  }

  @media (max-width: 800px) {
    #title h1 {
      font-size: 1.25em;
    }

    #navigation {
      padding-left: 0.5em;
    }

    ul li {
      font-size: 0.85em;
    }
  }

  @media (max-width: 700px) {
    #heading-container {
      padding: 0.15em 1em;
    }

    #title::after {
      transform: translateX(-1em);
    }
  }

  @media (max-width: 570px) {
    #title h1 {
      font-size: 1em;
    }

    #navigation {
      gap: 1em;
    }

  }

  @media (max-width: 500px) {
    #full-title {
      display: none;
    }

    #abbrev-title {
      display: block;
    }

    #title h1 {
      font-size: 1.5em;
    }
  }

</style>