---
const { mediaLinks } = Astro.props;
---
<div class="post-section" id="more-media-container">
    <h4 class="post-heading" id="more-media-heading">More Media</h4>
    {mediaLinks.map((link) => {
      return  <img class="more-media" src={link} alt="test" />
    })}
  </div>