---
const {Content} = Astro.props;
---
<div class="post-section">
    <Content />
    <!-- <h4 class="post-heading" id="more-media-heading">Credits</h4>
    <div class="post-text-section">
      <h5 class="post-subheading">Test subheading</h5>
      <p class="post-text">Test body text</p>
    </div> -->
  </div>