---
const { icon, label, id } = Astro.props;
---
<div id={ id } class="medium-thumbnail">
    <div class="thumbnail-content">
        <img class="media-icon" src={ icon } alt="icon" />
        <p>{ label }</span>
    </div>
</div>

<style>
    .medium-thumbnail {
        aspect-ratio : 1 / 1;
        min-width: 15%;
        width: 15%;
        border: solid 1px #88a8bb;
        border-radius: 10px;
        background-color: white;
        color: #1B648F;
        display: flex;
        justify-content: center;
        text-align: center;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    }

    .medium-thumbnail:hover {
        cursor: default;
    }

    .thumbnail-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .media-icon {
        width: 50%;
        padding-bottom: 0.75em;
    }


    @media (max-width: 1060px) {
        p {
            font-size: 0.75em;
        }

        .medium-thumbnail {
            min-width: 18%;
            width: 18%;
        }
    }

    @media (max-width: 700px) {
        .medium-thumbnail {
            min-width: 25%;
            width: 25%;
        }
    }

    @media (max-width: 500px) {
        .medium-thumbnail {
            min-width: 30%;
            width: 30%;
        }
    }

    @media (max-width: 400px) {
        .medium-thumbnail {
            min-width: 40%;
            width: 40%;
        }
    }
</style>

<script>
    // function generateThumbnails() {
    //     const [...mediaThumbnails] : NodeListOf<HTMLElement> = document.querySelectorAll('.medium-thumbnail');
    //     mediaThumbnails.forEach((thumbnail) => {
    //         thumbnail.addEventListener("mouseover", (event) => {
    //             thumbnail.classList.toggle("hovered-thumbnail");
    //             thumbnail.getElementsByTagName('img')[0].src = "/icons/" + thumbnail.id + "-hover.svg";
    //         })

    //         thumbnail.addEventListener("mouseout", (event) => {
    //             thumbnail.classList.toggle("hovered-thumbnail");
    //             thumbnail.getElementsByTagName('img')[0].src = "/icons/" + thumbnail.id + ".svg";
    //         })
    //     })
    // }
    // generateThumbnails();

    // document.addEventListener('astro:after-swap', () => {
    //     generateThumbnails();
    // });

</script>