---
const { mediaLinks } = Astro.props;

// function to check if this section should exist on this page and has content
function displaySection() {
  if (mediaLinks.length == 0 || (mediaLinks.length == 1 && mediaLinks[0] == "")) {
    return false;
  }
  return true;
}
---
{ displaySection() && 
  <div id="more-media-container">
    <h4>More Media</h4>
    {
      mediaLinks.map((link: string) => {
        if (link != "") {
          return  <img src={ link } alt="test" />
        }
      })
    }
  </div>
}

<style>
  #more-media-container {
    padding-bottom: 1em;
    border-bottom: solid thin gray;
    width: 100%;
  }

  h4 {
    color: #1B648F;
    font-weight: 400;
    font-size: 1.65em;
    padding: 1em 0;
  }

  img {
    max-width: 100%;
  }

  @media (max-width: 1060px) {
    h4 {
      font-size: 1.35em;
    }
  }
</style>