---
const {postLabel, postTitle, postDate, postAuthor} = Astro.props;
---

<div id="post-heading-container">
    <h3 id="post-label">{postLabel.toUpperCase()}</h3>
    <h2 id="post-title">{postTitle}</h2>
    <h3 id="post-date-author">{postDate} | {postAuthor}</h3>
</div>